img {
  object-fit: contain;
  display:block;
  margin:auto;
}

.map {
  height: 100%;
  padding: 0;
}

#leafletmap {
  height: 100vh;
  background-color: #2c3441;
}

// .my-label {
//   position: absolute;
//   width:1000px;
//   font-size:20px;
// }

// .leaflet-tooltip.my-labels {
//   background-color: transparent;
//   border: transparent;
//   box-shadow: none;
//   }
