<div class="sidenav" id="sidenav">
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark">
        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
        Gotham City
      </li>
      <li class="list-group-item list-group-item-dark">
        <input type="checkbox" id="switch2" /><label for="switch2">Toggle</label>
        Meteoric Rise
      </li>
      <li class="list-group-item list-group-item-dark">
        <input type="checkbox" id="switch3" /><label for="switch3">Toggle</label>
        Roadtrip
      </li>
      <li class="list-group-item list-group-item-dark">
        <input type="checkbox" id="switch4" /><label for="switch4">Toggle</label>
        Rumble Royale
      </li>
      <li class="list-group-item list-group-item-dark">
        <input type="checkbox" id="switch5" /><label for="switch5">Toggle</label>
        Spray & Pray
      </li>
    </ul>
  </div>
<!-- <div class="parent sidenav">
  <div class="labels">
      <div class="sidenav labels" #sidenav>
          <ul class="list-group">
            <li class="list-group-item list-group-item-dark">
              <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
              Gotham City
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="checkbox" id="switch2" /><label for="switch2">Toggle</label>
              Meteoric Rise
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="checkbox" id="switch3" /><label for="switch3">Toggle</label>
              Roadtrip
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="checkbox" id="switch4" /><label for="switch4">Toggle</label>
              Rumble Royale
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="checkbox" id="switch5" /><label for="switch5">Toggle</label>
              Spray & Pray
            </li>
          </ul>
        </div>
  </div>
  <div class="controls">
      <button class="btn">
          <fa name="chevron-left"></fa>
        </button>
  </div>
</div> -->
