<div class="sidenav" id="sidenav">
  <ul class="list-group" *ngFor="let item of challenges">
    <li class="list-group-item list-group-item-dark">
      <input type="checkbox" id="{{item.title}}" (change)="toggleWeekChallenges($event, item)"/><label for="{{item.title}}">Toggle</label> {{ item.title }}
      <span
        aria-hidden="true"
        class="fa hover"
        aria-label="Collapse"
        (click)="item.isCollapsed = !item.isCollapsed"
        [attr.aria-expanded]="!item.isCollapsed"
        [ngClass]="{
          'fa-angle-right': item.isCollapsed,
          'fa-angle-down': !item.isCollapsed
        }"
      ></span>
      <ul class="list-group list-group-flush" *ngFor="let challenges of item.challenges" [collapse]="item.isCollapsed">
        <li class="list-group-item">
          <!-- <input type="checkbox" id="{{challenges.id}}" /><label for="{{challenges.id}}">Toggle</label> {{ challenges.description }} -->
          <input type="checkbox" id="{{challenges.description}}" /><label for="{{challenges.description}}">Toggle</label> {{ challenges.description }}
        </li>
      </ul>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark">
      <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
      Gotham City
      <span
        aria-hidden="true"
        class="fa"
        aria-label="Collapse"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseReport"
        [ngClass]="{
          'fa-angle-right': isCollapsed,
          'fa-angle-down': !isCollapsed
        }"
      ></span>
      <div class="col col-3" id="collapseReport" [collapse]="isCollapsed">
        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
        testing
      </div>
    </li>
    <li class="list-group-item list-group-item-dark">
      <input type="checkbox" id="switch2" /><label for="switch2">Toggle</label>
      Meteoric Rise
    </li>
    <li class="list-group-item list-group-item-dark">
      <input type="checkbox" id="switch3" /><label for="switch3">Toggle</label>
      Roadtrip
    </li>
    <li class="list-group-item list-group-item-dark">
      <input type="checkbox" id="switch4" /><label for="switch4">Toggle</label>
      Rumble Royale
    </li>
    <li class="list-group-item list-group-item-dark">
      <input type="checkbox" id="switch5" /><label for="switch5">Toggle</label>
      Spray & Pray
    </li>
  </ul>
</div>
<!-- <div class="parent sidenav">
  <div class="labels">
      <div class="sidenav labels" #sidenav>
          <ul class="list-group">
            <li class="list-group-item list-group-item-dark">
              <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
              Gotham City
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="checkbox" id="switch2" /><label for="switch2">Toggle</label>
              Meteoric Rise
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="checkbox" id="switch3" /><label for="switch3">Toggle</label>
              Roadtrip
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="checkbox" id="switch4" /><label for="switch4">Toggle</label>
              Rumble Royale
            </li>
            <li class="list-group-item list-group-item-dark">
              <input type="checkbox" id="switch5" /><label for="switch5">Toggle</label>
              Spray & Pray
            </li>
          </ul>
        </div>
  </div>
  <div class="controls">
      <button class="btn">
          <fa name="chevron-left"></fa>
        </button>
  </div>
</div> -->
