
.header {
  height: 3vh;
  width: 100%;
}

.sidenav {
  // background-color: rgba($color: red, $alpha: 0.3);
  width: 15%;
  height: 97vh;
  float: left;
}

.main {
  // background-color: rgba($color: rgb(181, 0, 197), $alpha: 0.3);
  // background-color: #2c3441;
  width: 85%;
  height: 97vh;
  float: right;
}
