<!-- <div id="header">
    <a href="/" id="logo">
        <div id="eye">
            <div id="lid" style="top: -100%;"></div>
        </div>
    </a>
    <div id="top-donate">
        <a href="donate"><span style="color: #cbd3de;">Top Donate:</span> 0</a>
    </div>
    <script>document.write('\x3c\x61\x20\x68\x72\x65\x66\x3d\x22\x6d\x61\x69\x6c\x74\x6f\x3a\x63\x6f\x6e\x74\x61\x63\x74\x40\x6c\x6f\x6f\x74\x6c\x61\x6b\x65\x2e\x69\x6e\x66\x6f\x22\x20\x63\x6c\x61\x73\x73\x3d\x22\x6e\x61\x76\x2d\x69\x74\x65\x6d\x22\x3e\x43\x6f\x6e\x74\x61\x63\x74\x3c\x2f\x61\x3e');</script>
    <a href="mailto:contact@lootlake.info" class="nav-item">Contact</a>
    <a href="https://www.retailrow.info/leaked" class="nav-item">Leaked Skins <span class="badge"
            id="leaked-count">46</span></a>
    <a href="https://www.retailrow.info/" class="nav-item">Shop</a>
    <div id="mobile-menu-open" onclick="document.body.classList.add('menu-opened')">
        <svg width="24" height="24" viewBox="0 0 24 24">
            <path fill="#fff" d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"></path>
        </svg>
    </div>
    <div id="mobile-menu-close" onclick="document.body.classList.remove('menu-opened')">
        <svg width="24" height="24" viewBox="0 0 24 24">
            <path fill="#fff"
                d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
            </path>
        </svg>
    </div>
</div> -->
<div class="header">
    <img src="../../../assets/images/logo.png" [style.width.px]="screenWidth" alt="map">
</div>
